body {
    padding: 0;
    margin: 0;

    --background-gradient: linear-gradient(196.2deg, #0D1E48 0%, #304571 100%);
    --background: #000000;
    --text: #ffffff;
    --contrast-1: #EBFF00;
    --hover-1: #92A51D;
    --contrast-2: #FF70D9;
}

@font-face {
    font-family: Lato-ExtraBold;
    src: url(/assets/font/Lato-ExtraBold.ttf);
}

.header {
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: var(--background);
    position: relative;
    z-index: 2;
}

.header-wrapper {
    width: 100%;
    max-width: 1088px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--contrast-2);
    height: 36px;
}

.navigation {
    color: var(--text);
    font-family: "Lato", serif;
    font-weight: 700;
    position: relative;
}

.navigation .navigation-burger {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
}

.navigation-menu {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navigation-menu .menu-item {
    list-style-type: none;
    padding: 0 12px;
    -webkit-background-clip: text;
    cursor: pointer;
}

.navigation-menu .menu-item:hover {
    color: transparent;
    transition: all 100ms ease-in;
    background-image: linear-gradient(98.25deg, #EBFF00 18.56%, #FF70D9 76.02%);
}

.navigation-menu .menu-item:last-of-type {
    padding: 0;
}

.cart stop:first-child {
    stop-color: #EBFF00;
}

.cart stop:last-child {
    stop-color: #FF70D9;
}

.cart #cart-gradient {
    opacity: 0;
    transition: opacity 100ms ease-in;
}

.cart #cart-base {
    transition: opacity 100ms ease-in;
}

.cart:hover #cart-base {
    opacity: 0;
}

.cart:hover #cart-gradient {
    opacity: 1;
}


.cart {
    width: 24px;
    padding: 5px;
}

.banner {
    display: flex;
    justify-content: center;
    padding: 90px 0 120px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) -0.52%, rgba(15, 20, 32, 0.79) 99.48%), url("assets/images/back-1.jpg");
    background-size: cover;
    background-position: center, bottom;
}

.banner-wrapper {
    width: 100%;
    max-width: 1088px;
    position: relative;
}

.banner-img {
    position: absolute;
    width: 330px;
    top: -15px;
    right: -25px;
    z-index: 1;
}

.banner-description {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    color: var(--text);
    z-index: 2;
}

.banner-description .banner-title {
    --title-size: 72px;
    width: 700px;
}

.banner-description .banner-text {
    --title-size: 32px;
}

.banner-description .banner-title .highlight {
    color: var(--contrast-2)
}

.banner-description .banner-text .highlight {
    color: var(--contrast-1)
}

.banner-description .banner-button__text {
    --text-size: 22px;
    color: var(--background);
}

.main {
    background: var(--background-gradient);
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.main-wrapper {
    width: 100%;
    max-width: 1088px;
}

.offers {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.offers h1 {
    color: var(--text);
    font-family: "Lato", serif;
    font-weight: 700;
    font-size: 32px;
}

.offers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.offer {
    display: flex;
    gap: 22px;
    padding: 50px 36px 36px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    position: relative;
}

.offer .offer-title {
    --title-size: 46px;
    max-width: 300px;
}

.offer .offer-text {
    --text-size: 26px;
}

.offer .offer-button {
    margin-top: auto;
}

.offer .offer-button__text {
    --text-size: 22px;
}

.offer-1 {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%), url("assets/images/offer-1.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: center center;
}

.offer-2 {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%), url("assets/images/offer-2.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: center center;
}

.offer-3 {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%), url("assets/images/offer-3.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: center center;
}

.offer-4 {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%), url("assets/images/offer-4.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: center center;
}

.description {
    align-items: flex-start;
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.description .description-title {
    --title-size: 32px;
}

.description .description-text {
    --text-size: 20px;
    color: var(--text);
    opacity: 0.6;
    overflow: hidden;
    max-height: 144px;
    transition: max-height 150ms ease-out;
}

.description .description-text:has(+ .description-button:focus) {
    max-height: 500px;
}

.description .description-button {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.description .description-button:focus {
    opacity: 0;
}

.description .description-button__text {
    --text-size: 20px;
    color: var(--contrast-1);
    transition: all 100ms ease-out;
}

.description .description-button__text:hover {
    color: var(--hover-1);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 128px;
    background-color: var(--background);
}

.footer img {
    height: 80px;
    transform: rotate(65deg);
}

.footer .footer-message {
    --text-size: 18px;
    color: var(--contrast-1);
}

@media (min-width: 1248px) {
    .offer:nth-child(3n+1) {
        grid-column: 1/3;
        padding: 36px;
    }

    .offer:nth-child(3n+1) .offer-title {
        --title-size: 74px;
        max-width: 700px;
    }
}

@media (max-width: 1247px) {
    .header {
        padding: 0 30px;
    }

    .logo {
        height: 24px;
    }

    .banner {
        padding: 100px 30px 100px;
    }

    .banner-description .banner-title {
        --title-size: 48px;
        width: 600px;
    }

    .banner-description .banner-text {
        font-family: "Lato", serif;
        font-weight: 700;
        --title-size: 22px;
    }

    .banner-img {
        width: 300px;
        top: -65px;
        right: -130px;
    }

    .main {
        padding: 60px 30px;
    }

    .offers-grid {
        gap: 30px;
    }

    .offer {
        padding: 105px 26px 26px;
    }

    .offer .offer-title {
        --title-size: 40px;
        max-width: 250px;
    }

    .offer .offer-text {
        --text-size: 16px;
    }

    .offer .offer-button__text {
        --text-size: 16px;
    }

    .description .description-title {
        --title-size: 24px;
    }

    .description .description-text {
        max-height: 133px;
        --text-size: 16px;
    }

    .description .description-button__text {
        --text-size: 16px;
    }
}

@media (min-width: 768px) {
    .navigation .navigation-burger {
        visibility: hidden;
        position: absolute;
        overflow: hidden;
        width: 1px;
        height: 1px;
    }

    .banner .banner-button {
        padding: 14px 40px;
    }
}

@media (max-width: 767px) {
    .header {
        height: 48px;
        padding: 0 20px;
    }

    .navigation .navigation-burger__icon {
        color: var(--text);
        width: 30px;
    }

    .navigation-menu {
        position: absolute;
        flex-direction: column;
        background-color: var(--background);
        top: 43px;
        right: -20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 350ms ease-in;
    }

    .navigation-burger .navigation-burger__icon:last-of-type {
        display: none;
    }

    .navigation-menu:has(+ .navigation-burger:focus) {
        max-height: 500px;
    }

    .navigation-burger:focus .navigation-burger__icon:first-of-type {
        display: none;
    }

    .navigation-burger:focus .navigation-burger__icon:last-of-type {
        display: block;
    }

    .navigation-menu .menu-item {
        padding: 4px 12px;
    }

    .navigation-menu .menu-item:last-of-type {
        padding: 4px 12px;
    }

    .banner {
        padding: 250px 30px 44px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0.52%, rgba(15, 20, 32, 0.79) 99.48%), url("assets/images/back-1.jpg");
        background-size: cover;
        background-position: center, bottom;
    }

    .banner-description {
        align-items: center;
        gap: 17px;
    }

    .banner-description .banner-title {
        --title-size: 36px;
        width: 310px;
    }

    .banner-description .banner-text {
        --title-size: 16px;
    }

    .banner-description .banner-button__text {
        --text-size: 16px;
    }

    .banner-img {
        top: -356px;
        left: -14px;
    }

    .main {
        padding: 60px 20px;
    }

    .offers-grid {
        grid-template-columns: 1fr;
    }

    .description .description-title {
        --title-size: 18px;
    }

    .description .description-text {
        --text-size: 14px;
        max-height: 221px;
    }

    .description .description-button__text {
        --text-size: 14px;
    }
}